{% extends "encyclopedia/;ayout.html" %}

{% block title %}
      encyclopedia
{% endblock %}

{% block body %}



          <p>Create new Wiki entry</p>

        <form
    name="frmInfo3"
    action="/create"
    method="post"       >{% csrf_token%}
           <input type="text" name="title"placeholder="Enter Title" required>
           <input type="textarea" size=100 name="content" placeholder="Enter content with title first in Markdown language" required>
           <input type="submit" id="create" value="Create New Entry" />
     </form>
  {% for message in messages %}

                  <div class="alert alert-success">
                      <a class="close" href="#" data-dismiss="alert">x</a>

                      {{ message}}

                    </div>
                {% endfor %}
                
                
{ endblock %}


